@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.75;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0)
  }

  100% {
    transform: translateX(100%)
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(0%)
  }

  100% {
    transform: translateX(-100%)
  }
}

/* @keyframes changeIcon {
  0% {
    background-image: url('../../public/account.png');
  }
  100% {
    background-image: url('../../public/exit.png');
  }
} */

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
  
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .faded {
    opacity: 0.75;
    animation: fade 0.5s cubic-bezier(0.4, 0, 0.6, 1);
  }

  .unfaded {
    opacity: 1;
    animation: fade 1s cubic-bezier(0.4, 0, 0.6, 1);
    animation-direction: reverse;
  }

  .showSidebar {
    transform: translateX(0);
    animation: slideRight 0.5s cubic-bezier(0.4, 0, 0.6, 1);
    animation-direction: reverse;
  }

  .hideSidebar {
    animation: slideRight 0.5s cubic-bezier(0.4, 0, 0.6, 1);
  }

  /* .showMenu {
    background-image: url('../../public/account.png');
    animation: changeIcon 0.5s cubic-bezier(0.4, 0, 0.6, 1);
    animation-direction: reverse;
  }
  
  .showExit {
    background-image: url('../../public/exit.png');
    animation: changeIcon 0.5s cubic-bezier(0.4, 0, 0.6, 1);
  } */
}
